body {
  background-image: linear-gradient(
    to bottom,
    #0f0633,
    #0f0633,
    #0f0633,
    #0f0633,
    #0f0633,
    #0f0b37,
    #0f0f3c,
    #0f1240,
    #10184a,
    #101f55,
    #0e255f,
    #0a2c6a
  );
  min-height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 800px;
  padding: 20px;
}

.title {
  font-size: 24px;
  font-family: Roboto;
  margin-bottom: 20px;
  text-align: center;
  color: white;
}
.bottomtitle {
  font-size: 15px;
  padding-top: 1rem;
  text-align: center;
  color: white;
  font-family: Roboto;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-bottom: 20px;
  padding: 10px;
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  border-radius: 5px;
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/opacity/see-through */
  color: white;
}

.st {
  font-size: 18px;
  font-family: Roboto;
  color: white;
  margin-bottom: 1rem;
}

.link {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}

.right {
  display: flex;
  flex-direction: row-reverse;
}

.link:hover {
  text-decoration: underline;
}

/* Responsive adjustments */
@media only screen and (max-width: 600px) {
  .title {
    font-size: 20px;
  }
}
